<h3 class='mb-3'>{{title}}</h3>
<section class='p-4 shadow rounded'>
    <table id='table_id' class='display fixed'>
        <thead>
            <tr>
                <th>Tiêu đề</th>
                <th>Mô tả</th>
                <th>Hình ảnh</th>
                <th>Giao diện</th>
                <th>Màu nền</th>
                <th>Liên kết</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            {{#each sections}}
            <tr>
                <td>{{title}}</td>
                <td>...</td>
                <td><img src="{{image}}" width="50%" alt=""></td>
                <td>{{layout}}</td>
                <td>
                    <div class="d-flex">
                        <div 
                            class="shadow me-2" 
                            style="width: 20px; height: 20px; background-color: {{backgroundColor.start}};border-radius: 50%"
                        ></div>
                        <div 
                            class="shadow" 
                            style="width: 20px; height: 20px; background-color: {{backgroundColor.end}};border-radius: 50%"
                        ></div>
                    </div>
                </td>
                <td>{{link}}</td>
                <td>
                    <a 
                        href="/admin/section/{{_id}}"
                        class='me-2 text-warning'
                    ><i class="fa-solid fa-pen"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody
    </table>
</section>
