<h3 class='mb-3'>{{title}}</h3>
<section class='p-4 shadow rounded'>
    <a 
        href="#"
        class='btn btn-success'
        data-mdb-toggle='modal'
		data-mdb-target='#createModal'
    >+ Thêm</a>
    <hr>
    <table id='table_id' class='display fixed'>
        <thead>
            <tr>
                <th>Nội dung</th>
                <th>Hình ảnh</th>
                <th>Ảnh nền</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            {{#each banners}}
            <tr>
                <td>{{{content}}}</td>
                <td><img src="{{image}}" alt="" width="50%"></td>
                <td><img src="{{backgroundImage}}" width="50%" alt=""></td>
                <td>
                    <a 
                        href="#"
                        data-mdb-toggle='modal'
                        data-mdb-target='#'
                        class='me-2'
                    ><i class="fa-solid fa-eye"></i></a>
                    <a 
                        href="/admin/banner/{{_id}}"
                        class='me-2 text-warning'
                    ><i class="fa-solid fa-pen"></i></a>
                    <a 
                        href="#"
                        data-mdb-toggle='modal'
                        data-mdb-target='#deleteModal'
                        class='me-2 text-danger'
                        onclick="$('#delete-id').val('{{_id}}')"
                    ><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody
    </table>
</section>

<!-- Modal -->
<div
	class='modal fade modal-lg'
	id='createModal'
	tabindex='-1'
	aria-labelledby='exampleModalLabel'
	aria-hidden='true'
>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h5 class='modal-title' id='exampleModalLabel'>Thêm banner</h5>
				<button
					type='button'
					class='btn-close'
					data-mdb-dismiss='modal'
					aria-label='Close'
				></button>
			</div>
			<form method='post' action='/admin/banner/them' class='mb-0' enctype="multipart/form-data">
				<div class='modal-body'>
					<div class='mb-3'>
                        <label class="form-label" for="customFile">Nội dung</label>
                        <textarea name="content" class="ckeditor" id="ckeditor1"></textarea>
                    </div>

                    <div class='mb-3'>
                        <label class="form-label" for="customFile">Hình ảnh</label>
                        <input type="file" onchange="preview(this, 'bannerImg')" class="form-control" id="customFile" accept="image/*" name="banner"/>
                        <img
                            src='#'
                            alt=''
                            id='bannerImg'
                            width='40%'
                            class='mt-2'
                        />
                    </div>

                    <div class='mb-3'>
                        <label class="form-label" for="customFile">Ảnh nền</label>
                        <input type="file" onchange="preview(this, 'bannerBgImg')" class="form-control" id="customFile" accept="image/*" name="bannerBg"/>
                        <img
                            src='#'
                            alt=''
                            id='bannerBgImg'
                            width='40%'
                            class='mt-2'
                        />
                    </div>
				</div>
				<div class='modal-footer'>
					<button
						type='button'
						class='btn btn-secondary'
						data-mdb-dismiss='modal'
					>Đóng</button>
					<button type='submit' class='btn btn-primary'>Thêm</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div
	class='modal fade'
	id='deleteModal'
	tabindex='-1'
	aria-labelledby='exampleModalLabel'
	aria-hidden='true'
>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h5 class='modal-title' id='exampleModalLabel'>Xoá banner</h5>
				<button
					type='button'
					class='btn-close'
					data-mdb-dismiss='modal'
					aria-label='Close'
				></button>
			</div>
			<form method='post' action='/admin/banner/xoa' class='mb-0'>
				<div class='modal-body'>
                    <input type="hidden" name="_id" id="delete-id">
					Bạn có chắc chắn muốn xoá banner này không?
				</div>
				<div class='modal-footer'>
					<button
						type='button'
						class='btn btn-secondary'
						data-mdb-dismiss='modal'
					>Đóng</button>
					<button type='submit' class='btn btn-danger'>Xoá</button>
				</div>
			</form>
		</div>
	</div>
</div>
