<h3 class='mb-3'>{{title}}</h3>
<section class='p-4 shadow rounded'>
    <form method='post' class='mb-0' action="/admin/banner/{{banner._id}}" enctype='multipart/form-data'>
        <div class='modal-body'>
            <div class='mb-3'>
                <div id='video-group'>
                <label class='form-label bold mb-3' for='customFile'>Video</label>
                    <div class='form-outline mb-3'>
                        <input
                            type='text'
                            name='video'
                            value='{{#if banner.video}}https://www.youtube.com/watch?v={{banner.video}}{{/if}}'
                            class='form-control'
                        />
                        <label class='form-label bold' for='desc'>Liên kết
                            <span class='text-danger'>*</span></label>
                    </div>
                    <p style="font-size: 14"><strong>Ví dụ: </strong>https://www.youtube.com/watch?v=q4JIFj64XRw</p>
                </div>

                <div id='img-group'>
                    <label class='form-label bold my-3' for='customFile'>Hình ảnh</label>
                    <input
                        type='hidden'
                        name='bannerInp'
                        id='bannerHd'
                        value='{{banner.image}}'
                    />
                    <input
                        type='file'
                        class='form-control'
                        id='bannerInp'
                        accept='image/*'
                        name='banner'
                        onchange="preview(this)"
                    />
                    <div id='imageCon' class='mt-2'>
                        <img src='{{banner.image}}' alt='' width='30%' class='mb-2 me-2'/>
                    </div>
                    <span
                        style='cursor:pointer'
                        onclick="removeUploadImg('bannerInp', 'bannerHd')"
                        class='text-danger'
                    ><i class='fa-solid fa-circle-xmark fa-xl mt-2'></i></span>
                </div>
            </div>
        </div>
        <div class='modal-footer'>
            <button type='submit' class='btn btn-primary'>Cập nhật</button>
        </div>
    </form>
</section>
