<h3 class='mb-3'>{{title}}</h3>

<section class='p-4 shadow rounded'>
    <form method='post' class='mb-0' action="/admin/banner/{{banner._id}}" enctype='multipart/form-data'>
        <div class='modal-body'>
            <div class='mb-3'>
                <label class='form-label bold' for='customFile'>Ảnh nền</label>
                <br />
                <div class='form-check form-check-inline my-3'>
                    <input
                        class='form-check-input'
                        {{#if banner.images}}checked{{/if}}
                        type='radio'
                        name='radio'
                        id='inlineRadio1'
                        value='image'
                    />
                    <label
                        class='form-check-label'
                        for='inlineRadio1'
                    >Ảnh</label>
                </div>

                <div class='form-check form-check-inline'>
                    <input
                        class='form-check-input'
                        type='radio'
                        name='radio'
                        id='inlineRadio2'
                        value='video'
                        {{#if banner.video}}checked{{/if}}
                    />
                    <label
                        class='form-check-label'
                        for='inlineRadio2'
                    >Video</label>
                </div>
                <div id='video-group' class='{{#if banner.images}}d-none{{/if}}'>
                    <div class='form-outline mb-3'>
                        <input
                            type='text'
                            name='video'
                            value='https://www.youtube.com/watch?v={{banner.video}}'
                            class='form-control'
                        />
                        <label class='form-label bold' for='desc'>Liên kết
                            <span class='text-danger'>*</span></label>
                    </div>
                    <p><strong>Cấu trúc: </strong>https://www.youtube.com/watch?v=q4JIFj64XRw</p>
                </div>

                <div id='img-group' class="{{#if banner.video}}d-none{{/if}}">
                    <input
                        type='hidden'
                        name='bannerInp'
                        id='bannerHd'
                        value='{{banner.images}}'
                    />
                    <input
                        type='file'
                        class='form-control'
                        id='bannerInp'
                        accept='image/*'
                        name='banner'
                        onchange="preview(this)"
                        multiple
                    />
                    <div id='imageCon' class='mt-2'>
                        {{#if banner.images}}
                            {{#each banner.images}}
                                <img src='{{@this}}' alt='' width='30%' class='mb-2 me-2'/>
                            {{/each}}
                        {{/if}}
                    </div>
                    <span
                        style='cursor:pointer'
                        onclick="removeUploadImg('bannerInp', 'bannerHd')"
                        class='text-danger'
                    ><i class='fa-solid fa-circle-xmark fa-xl mt-2'></i></span>
                </div>
            </div>
        </div>
        <div class='modal-footer'>
            <button type='submit' class='btn btn-primary'>Cập nhật</button>
        </div>
    </form>
</section>

<script>
    $('.form-check-input').change(function() { if ($(this).val() == 'video') {
    $('#img-group').addClass('d-none'); $('#video-group').removeClass('d-none');
    } else { $('#video-group').addClass('d-none');
    $('#img-group').removeClass('d-none'); } })
</script>