{{!-- <section class='hero-slider hero-style' style='height:80%'>
    <iframe
      style='width:100%; height:100%'
      src='https://www.youtube.com/embed/{{banners.0.video}}?autoplay=1&mute=1&controls=0&loop=1&playlist={{banners.0.video}}&enablejsapi=1'
      title='YouTube video player'
      frameborder='0'
      allow=' autoplay;loop'
      allowfullscreen
    >
    </iframe>
  </section> --}}
<section class='hero-slider hero-style'>
  {{!-- <div class='swiper-container-banner'>
    <div class='swiper-wrapper swiper-wrapper-banner'>

      {{#each banners.image}}
        <div class='swiper-slide'>
          <div class='slide-inner slide-bg-image' data-background='{{this}}'>
            <div class='container'>
              <div class='header-button'>
                <a
                  class='button plain is-outline is-large position-absolute'
                  href='/dang-ky-dung-thu'
                  rel='Tạo tài khoản thành viên'
                  style='border-radius:99px;color:white; 
                    left:35%;
                    bottom: 10%;
                    transform: translate(-33%, 10%);'
                  data-aos='fade-up'
                  target='_blank'
                >
                  <span>Đăng ký dùng thử</span>
                </a>
              </div>
            </div>
          </div>
          <!-- end slide-inner -->
        </div>

      {{/each}}

      <!-- end swiper-slide -->

      <!-- end swiper-slide -->
    </div>
    <!-- end swiper-wrapper -->

    <!-- swipper controls -->
    <div class='swiper-pagination'>
      
    </div>
    <div class='swiper-banner-button-next'>
      <span>
        
      </span>
    </div>
    <div class='swiper-banner-button-prev'>
      <span>
        
      </span>
    </div>

  </div> --}}
  <div class='swiper-container-banner'>
    <div class='swiper-slide'>

      <div class='slide-inner slide-bg-image' data-background='{{banners.0.image}}'>
        <div class='container'>

          <div id='VIDEO1728' class='ladi-element'>
            <div class='ladi-video'>
              <div id='SHAPE1728' class='ladi-element'>
                <div class='ladi-shape'>

                </div>
              </div>
              <video
                style='
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0px;
              left: 0;
              z-index: 2000;
            '
                autoplay
                muted
              >
                <source src='/video/Giới thiệu Safebooks.mp4' type='video/mp4' />
              </video>
              {{!-- <iframe
                src='https://www.youtube.com/embed/{{banners.0.video}}?autoplay=1&mute=1&controls=0&loop=1&playlist={{banners.0.video}}&enablejsapi=1'
                title='YouTube video player'
                frameborder='0'
                allow=' autoplay;loop'
                allowfullscreen
              >
              </iframe> --}}
            </div>
          </div>

          <div class='header-button'>

            <a
              class='button plain is-outline is-large position-absolute'
              href='/dang-ky-dung-thu'
              rel='Tạo tài khoản thành viên'
              style='border-radius:99px;color:white; 
                    left:35%;
                    bottom: 10%;
                    transform: translate(-33%, 10%);'
              data-aos='fade-up'
              target='_blank'
            >
              <span>Đăng ký dùng thử</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<section>
  <div class='show-for-medium w-100'>
    <video
      style='
              width: 100%;
            '
      autoplay
      muted
    >
      <source src='/video/Giới thiệu Safebooks.mp4' type='video/mp4' />
    </video>
  </div>
</section>

<!-- end of hero slider -->