<section
  class='section secback dark'
  id='section_555626721'
  style='background: linear-gradient(86.66deg, {{backgroundColor.start}} 9.35%,  {{backgroundColor.end}} 100%);'
  data-aos="fade-up"
>
  <div class='bg section-bg fill bg-fill bg-loaded'></div>
  <div class='section-content relative'>
    <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
    <div class='row' id='row-1699066326'>
      <div class='col medium-6 small-12 large-6'>
        <div class='col-inner'>
          <p><img
              class='alignnone size-medium'
              height='800'
              loading='lazy'
              src='https://i.imgur.com/mNHzjdr.png'
              width='800'
            ></img></p>
        </div>
      </div>
      <div class='col medium-6 small-12 large-6'>
        <div class='col-inner'>
          <div class='row align-center' id='row-240002719'>
            <div class='col small-12 large-12'>
              <div class='col-inner text-center dark'>
                <h2 class='uppercase' style='text-align: center;'><span style='font-size: 110%;'>{{title}}</span></h2>
                <p class='uppercase' style='text-align: center;'>Để lại SĐT để được tư vấn miễn phí!</p>
                <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
                <div class='wpcf7'>
                  <div class='screen-reader-response'></div>
                  <form action='/lien-he' class='wpcf7' id='quickbuy1' method='POST'>
                    <div class='xs-inline-forms transparent-style'>
                      <div class='row no-gutterss'>
                        <div class='col-lg-12'>
                          <span class='wpcf7-form-control-wrap your-name lienhe'><span
                              class='wpcf7-form-control-wrap your-name'
                            ><input
                                aria-invalid='false'
                                aria-required='true'
                                class='wpcf7-form-control text-dark wpcf7-text wpcf7-validates-as-required lienheform-control name'
                                name='name'
                                placeholder='Họ Và Tên*'
                                size='40'
                                type='text'
                                required
                              /></span></span></div>
                        <div class='col-lg-12'>
                          <span class='wpcf7-form-control-wrap your-email lienhe'><span
                              class='wpcf7-form-control-wrap'
                            ><input
                                aria-invalid='false'
                                aria-required='true'
                                class='wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel lienheform-control phone'
                                name='phone'
                                placeholder='SĐT Tư Vấn'
                                size='40'
                                type='tel'
                                required
                              /></span></span></div>
                      </div>
                      <button class='bg-white wpcf7-form-control wpcf7-submit guidi' type='submit'>Gửi đi</button>
                    </div>
                  </form>

                  {{#if message.success}}
                    <div
                      class='toast fade mx-auto toast-success toast-fixed show position-fixed'
                      role='alert'
                      aria-live='assertive'
                      aria-atomic='true'
                      data-mdb-autohide='true'
                      data-mdb-position='bottom-right'
                      data-mdb-append-to-body='true'
                      data-mdb-stacking='true'
                      data-mdb-width='350px'
                      data-mdb-color='success'
                      style='z-index:200;width: 350px; display: block; bottom: 75px; right: 10px; top: unset; left: unset; transform: unset;'
                    >
                      <div class='toast-header toast-success'>
                        <i class='fas fa-check fa-lg me-2'></i>
                        <strong class='me-auto'>Thành công</strong>
                        <button type='button' class='btn-close' data-mdb-dismiss='toast' aria-label='Close'></button>
                      </div>
                      <div class='toast-body bg-success text-light'>{{message.success}}</div>
                    </div>
                  {{/if}}

                  {{#if message.error}}
                    <div
                      class='toast fade mx-auto toast-danger toast-fixed show'
                      role='alert'
                      aria-live='assertive'
                      aria-atomic='true'
                      data-mdb-autohide='true'
                      data-mdb-position='bottom-right'
                      data-mdb-append-to-body='true'
                      data-mdb-stacking='true'
                      data-mdb-width='350px'
                      data-mdb-color='success'
                      style='width: 350px; display: block; bottom: 75px; right: 10px; top: unset; left: unset; transform: unset;'
                    >
                      <div class='toast-header toast-danger'>
                        <i class='fas fa-exclamation-circle fa-lg me-2'></i>
                        <strong class='me-auto'>Thất bại</strong>
                        <button type='button' class='btn-close' data-mdb-dismiss='toast' aria-label='Close'></button>
                      </div>
                      <div class='toast-body'>{{message.error}}</div>
                    </div>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style scope='scope'>
    #section_555626721 { padding-top: 0; padding-bottom: 0; background-color: #05334A }
  </style>
</section>