<section
  class='section secback dark'
  id='section_521543635'
  style='background: linear-gradient(86.66deg, {{backgroundColor.start}} 9.35%,  {{backgroundColor.end}} 100%);'
  data-aos='fade-up'
>
  <div class='bg section-bg fill bg-fill bg-loaded'></div>
  <div class='section-content relative'>
    <div class='gap-element clearfix' style='display:block; height:auto; padding-top:40px'></div>
    <div class='row' id='row-1549117855'>
      <div class='col-md-12'>
        <h3 class='uppercase thin-font' style='text-align: center;'><strong>{{title}}</strong></h3>
        <div class='text-center'>
          <div class='is-divider divider clearfix' style='height:2px;background-color:rgb(219, 219, 219);'></div>
        </div>
        <p class='text-center'>{{{description}}}</p>
      </div>
      <div class='row' id='row-1359683358'>
        <div class='slider-wrapper relative' id='slider-1127583046'>
          <div
            class='image-carousel-wrapper swiper-container-comment swiper-container-initialized swiper-container-horizontal'
          >
            <div
              class='image-carousel swiper-wrapper swiper-image-stretch'
              style='transition-duration: 0ms; transform: translate3d(-2810.25px, 0px, 0px);'
            >
              {{#each comments}}

                <div class='swiper-slide img has-hover x md-x lg-x y md-y lg-y'>
                  <div class='icon-box testimonial-box icon-box-left text-left'>
                    <div class='icon-box-img testimonial-image circle' style='width: 80px'>
                      <img
                        alt=''
                        class='attachment-thumbnail size-thumbnail'
                        style='width:70px;height:70px;'
                        height='150'
                        loading='lazy'
                        src='{{avatar}}'
                        width='150'
                      /></div>
                    <div class='icon-box-text p-last-0'>
                      <div class='star-rating'><span style='width:100%'><strong class='rating'></strong></span></div>
                      <div class='testimonial-text line-height-small italic test_text first-reset last-reset is-italic'>
                        <h3 class='thin-font'>{{name}}</h3>
                        <h3 class='thin-font'>{{content}}</h3>
                      </div>
                      <div class='testimonial-meta pt-half'>
                        <strong class='testimonial-name test_name'></strong>
                        <span class='testimonial-company test_company'></span></div>
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style scope='scope'>
    #section_521543635 { padding-top: 15px; padding-bottom: 15px; background-color: #05334A }
  </style>
</section>