<div data-aos='fade-up' iv class='section'>
  <div class='row' id='row-512505365'>
    <div class='col small-12 large-12'>
      <div class='col-inner text-center'>
        <h2
          class='heading-title'
          style="font-family: 'Roboto Condensed', sans-serif; color: #2f2c2c; text-align: center;"
        ><span style='font-size: 120%;'>{{title}}</span></h2>
        <div class='heading-decoration'></div>
        <div class='heading-decoration'></div>
        <p>
          {{{description}}}
        </p>
        <div class='gap-element clearfix' style='display:block; height:auto; padding-top:30px'></div>
        <div class='row' id='row-837703253'>
          {{#each staffs}}
            <div class='col teamwos medium-4 small-12 large-4'>
              <div class='col-inner'>
                <div class='box has-hover has-hover box-text-bottom'>
                  <div class='box-image' style='width:50%;'>
                    <div class='box-image-inner image-cover' style='border-radius:100%;padding-top:100%;'>
                      <img
                        alt=''
                        class='attachment- size-'
                        height='649'
                        loading='lazy'
                        src={{avatar}}
                        width='649'
                      /></div>
                  </div>
                  <div class='box-text text-center'>
                    <div class='box-text-inner'>
                      <h4 class='uppercase'>
                        <span class='person-name'>{{name}}</span><br />
                        <span class='person-title is-small thin-font op-7'>{{position}}</span></h4>
                      <div class='social-icons follow-icons'><a
                          class='icon primary button circle facebook tooltip tooltipstered'
                          data-label='Facebook'
                          href='{{facebook}}'
                          rel='noopener noreferrer nofollow'
                          target='_blank'
                        ><i class='icon-facebook'></i></a><a
                          class='icon primary button circle phone tooltip tooltipstered'
                          data-label='Phone'
                          href='tel:093 164 06 79'
                          rel='noopener noreferrer nofollow'
                          target='_blank'
                        ><i class='icon-phone'></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>