<h3 class='mb-3'>{{title}}</h3>
<section class='p-4 shadow rounded'>
    <a 
        href="#"
        class='btn btn-success'
        data-mdb-toggle='modal'
		data-mdb-target='#createModal'
    >+ Thêm</a>
    <hr>
    <table id='table_id' class='display fixed'>
        <thead>
            <tr>
                <th>Tên</th>
                <th>Avatar</th>
                <th>Vị trí</th>
                <th>Điện thoại</th>
                <th>Facebook</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            {{#each staffs}}
            <tr>
                <td>{{name}}</td>
                <td><img src="{{avatar}}" alt="" width="40%"></td>
                <td>{{position}}</td>
                <td>{{phone}}</td>
                <td>{{facebook}}</td>
                <td>
                    <a 
                        href="/admin/doi-ngu/{{_id}}"
                        class='me-2 text-warning'
                    ><i class="fa-solid fa-pen"></i></a>
                    <a 
                        href="#"
                        data-mdb-toggle='modal'
                        data-mdb-target='#deleteModal'
                        class='me-2 text-danger'
                        onclick="$('#delete-id').val('{{_id}}')"
                    ><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody
    </table>
</section>

<!-- Modal -->
<div
	class='modal fade modal-lg'
	id='createModal'
	tabindex='-1'
	aria-labelledby='exampleModalLabel'
	aria-hidden='true'
>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h5 class='modal-title' id='exampleModalLabel'>Thêm nhân viên</h5>
				<button
					type='button'
					class='btn-close'
					data-mdb-dismiss='modal'
					aria-label='Close'
				></button>
			</div>
			<form method='post' action='/admin/doi-ngu/them' class='mb-0' enctype="multipart/form-data">
				<div class='modal-body'>
					<div class='form-outline mb-4'>
                        <input
                            type='text'
                            name='name'
                            class='form-control border'
                            required
                        />
                        <label class='form-label bold' for='desc'>Tên
                            <span class='text-danger'>*</span></label>
                    </div>

                    <div class='form-outline mb-4'>
                        <input
                            type='text'
                            name='position'
                            class='form-control border'
                            required
                        />
                        <label class='form-label bold' for='desc'>Vị trí
                            <span class='text-danger'>*</span></label>
                    </div>

                    <div class='mb-4'>
                        <label class='form-label bold' for='customFile'>Avatar</label>
                        <input
                            type='file'
                            class='form-control'
                            id='avatarInp'
                            accept='image/*'
                            name='staff'
                            onchange="preview(this, 'avatarImg')"
                        />
                        <img src='' alt='' id='avatarImg' width='30%' class='mt-2' />
                        <span style='cursor:pointer' onclick="removeUploadImg('avatarInp', 'avatarImg')" class='text-danger'><i class="fa-solid fa-circle-xmark fa-xl"></i></span>
                    </div>

                    <div class='form-outline mb-4'>
                        <input
                            type='text'
                            name='phone'
                            class='form-control border'
                        />
                        <label class='form-label bold' for='desc'>Điện thoại</label>
                    </div>

                    <div class='form-outline mb-4'>
                        <input
                            type='text'
                            name='facebook'
                            class='form-control border'
                        />
                        <label class='form-label bold' for='desc'>Facebook</label>
                    </div>
				</div>
				<div class='modal-footer'>
					<button
						type='button'
						class='btn btn-secondary'
						data-mdb-dismiss='modal'
					>Đóng</button>
					<button type='submit' class='btn btn-primary'>Thêm</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div
	class='modal fade'
	id='deleteModal'
	tabindex='-1'
	aria-labelledby='exampleModalLabel'
	aria-hidden='true'
>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h5 class='modal-title' id='exampleModalLabel'>Xoá nhân viên</h5>
				<button
					type='button'
					class='btn-close'
					data-mdb-dismiss='modal'
					aria-label='Close'
				></button>
			</div>
			<form method='post' action='/admin/doi-ngu/xoa' class='mb-0'>
				<div class='modal-body'>
                    <input type="hidden" name="_id" id="delete-id">
					Bạn có chắc chắn muốn xoá nhân viên này không?
				</div>
				<div class='modal-footer'>
					<button
						type='button'
						class='btn btn-secondary'
						data-mdb-dismiss='modal'
					>Đóng</button>
					<button type='submit' class='btn btn-danger'>Xoá</button>
				</div>
			</form>
		</div>
	</div>
</div>
