<nav aria-label='breadcrumb'>
    <ol class='breadcrumb'>
        <li class='breadcrumb-item'><a href='/admin/doi-ngu'>Đội ngũ</a></li>
        <li class='breadcrumb-item active' aria-current='page'>{{title}}</li>
    </ol>
</nav>
<section class='p-4 shadow rounded'>
    <form method='post' class='mb-0' enctype='multipart/form-data'>
        <div class='modal-body'>
            <div class='form-outline mb-4'>
                <input
                    type='text'
                    name='name'
                    value='{{staff.name}}'
                    class='form-control'
                    required
                />
                <label class='form-label bold' for='desc'>Tên
                    <span class='text-danger'>*</span></label>
            </div>

            <div class='form-outline mb-4'>
                <input
                    type='text'
                    name='position'
                    value='{{staff.position}}'
                    class='form-control'
                    required
                />
                <label class='form-label bold' for='desc'>Vị trí
                    <span class='text-danger'>*</span></label>
            </div>

            <div class='mb-3'>
                <label class='form-label bold' for='customFile'>Avatar</label>
                <input
                    type='file'
                    class='form-control'
                    id='customFile'
                    accept='image/*'
                    name='staff'
                    onchange="preview(this, 'avatarImg')"
                />
                <img id='avatarImg' src='{{staff.avatar}}' alt='' width='40%' class='mt-2' />
            </div>

            <div class='form-outline mb-4'>
                <input
                    type='text'
                    name='phone'
                    value='{{staff.phone}}'
                    class='form-control'
                />
                <label class='form-label bold' for='desc'>Điện thoại</label>
            </div>

            <div class='form-outline mb-4'>
                <input
                    type='text'
                    name='facebook'
                    value='{{staff.facebook}}'
                    class='form-control'
                />
                <label class='form-label bold' for='desc'>Facebook</label>
            </div>
        </div>
        <div class='modal-footer'>
            <a href='/admin/doi-ngu' class='btn btn-secondary me-3'>Đóng</a>
            <button type='submit' class='btn btn-primary'>Cập nhật</button>
        </div>
    </form>
</section>
