<nav aria-label='breadcrumb'>
    <ol class='breadcrumb'>
        <li class='breadcrumb-item'><a href='/admin/tinh-nang'>Tính năng</a></li>
        <li class='breadcrumb-item active' aria-current='page'>{{title}}</li>
    </ol>
</nav>
<section class='p-4 shadow rounded'>
    <form method='post' class='mb-0' enctype='multipart/form-data'>
        <div class='modal-body'>
            {{!-- <div class='mb-3'>
                <label class='form-label bold' for='customFile'>Nội dung</label>
                <textarea
                    name='content'
                    class='ckeditor'
                >{{banner.content}}</textarea>
            </div>

            <div class='mb-3'>
                <label class='form-label bold' for='customFile'>Hình ảnh</label>
                <input type="hidden" name="bannerInp" id="bannerhd" value="{{banner.image}}">
                <input
                    type='file'
                    class='form-control'
                    id='bannerInp'
                    accept='image/*'
                    name='banner'
                    onchange="preview(this, 'bannerImg')"
                />
                <img
                    src='{{banner.image}}'
                    alt=''
                    id='bannerImg'
                    width='30%'
                    class='mt-2'
                />
                <span style='cursor:pointer' onclick="removeUploadImg('bannerInp', 'bannerImg', 'bannerhd')" class='text-danger'><i class="fa-solid fa-circle-xmark fa-xl"></i></span>
            </div> --}}

            <div class='mb-3'>
                <label class='form-label bold' for='customFile'>Ảnh nền</label>
                <input type="hidden" name="bannerBgInp" id="bannerBghd" value="{{banner.backgroundImage}}">
                <input
                    type='file'
                    class='form-control'
                    id='bannerBgInp'
                    accept='image/*'
                    name='bannerBg'
                    onchange="preview(this, 'bannerBg')"
                />
                <img
                    src='{{banner.backgroundImage}}'
                    alt=''
                    id='bannerBg'
                    width='30%'
                    class='mt-2'
                />
                <span style='cursor:pointer' onclick="removeUploadImg('bannerBgInp', 'bannerBg', 'bannerBghd')" class='text-danger'><i class="fa-solid fa-circle-xmark fa-xl"></i></span>
            </div>
        </div>
        <div class='modal-footer'>
            <a href='/admin' class='btn btn-secondary me-3'>Đóng</a>
            <button type='submit' class='btn btn-primary'>Cập nhật</button>
        </div>
    </form>
</section>